.terraform/
*.tfstate
*.tfstate.*
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
terraform.tfvars
*.auto.tfvars

!.terraform.lock.hcl

.env
.env.*
.ssh/
*.pem
*.ppk
*.key
*.crt

*.pub

.vscode/
.idea/
Thumbs.db
.DS_Store

__pycache__/
*.pyc
node_modules/
